{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon"  href="https://png.pngtree.com/png-vector/20190411/ourmid/pngtree-vector-play-icon-png-image_924817.jpg"  type="image/x-icon">
  <title>Trang nghe nhạc trực tuyến</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
  
</head>

<body style="background-color: rgb(51, 25, 74);">
  <div>
    <!-- Menu -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary " id="nav" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home:home' %}">Trang nghe nhạc trực tuyến</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="{% url 'home:home' %}">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'music:genre' %}">Thể loại</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'music:artist' %}">Nghệ sĩ</a>
            </li>
            <li class="nav-item">
              {% if request.user.username %}
                <a class="nav-link " href="{% url 'home:logout' %}">Đăng Xuất</a>
              {% else %}                
                <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Đăng Nhập
                </button>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Đăng Nhập</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {% include "home/login.html" %}
                        
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary button" data-bs-dismiss="modal">Close</button>

                      </div>
                      
                  </div>
                </div>
                </div>
              {% endif %}
            </li>
          </ul>
          <form action="{% url 'music:search' %}" method="get">
            {% csrf_token %}
            <div class="d-flex">
                <div class="p-2">
                    <input class="form-control me-2" type="text" id="keywordInput" name="keywordInput" placeholder="Search" value="{{keywordInput}}"/>
                </div>
                <button type="submit" class="btn btn-outline-success">Tìm kiếm</button>
            </div>
        </form>
        </div>
      </div>
    </nav>
    <!-- content -->
    <div class="row">

      <div class="col-12 col-lg-9">
        {% block content %}{% endblock content %}
      </div>
      <div class="col-12 col-lg-3">
        
        {% block content2 %}
        {% endblock %}
      </div>
    </div>
    

  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
  </script>
  <style>
      div#nav{
        color: black;
        background-color: black;
      }
      h1{
        color: white
      }
      h2{
        color: white
      }
      h3{
        color: white
      }
      h4{
        color: white
      }
      h5{
        color: white
      }
      a{
        color: white
      }
      td{
        color: white
      }
      p{
        color: white
      }
      span{
        color: white;
      }
      label{
        color: white
      }
  </style>
  <script>
    var buttons = document.getElementsByClassName('btn-play');
    for(var i=0;i<=buttons.length;i++){
      buttons[i].addEventListener('click',function(){
        
      })
    }
  </script>
</body>

</html>