{% extends "home/base.html" %}
{%block content %}
<h2>Bài hát</h2>
<table class="table table-striped">
    <thead>
    <th>#</th>
    <th>Tên</th>
    <th>Lượt theo dõi</th>
    </thead>
    <tbody>
    {% for track in tracks2 %}
        <tr>
        <td><a href="{% url 'music:track' track.slug %}"><img src="{{track.image.url}}" alt="" style="width: 1rem; height: 1rem;"></a></td>
        <td>{{track.name}}</td>
        <td>{{track.streams}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="col-12">
    <h2>Album hot nhất hiện nay</h2>
    <div class="row">
        {% for album in albums %}
            <div class="col-3 p-2 text-center">
                <div class="row">
                    <a href="{% url 'music:album' album.slug %}">
                        <img src="{{album.image.url}}" alt="" style="height: 10rem;width: 10rem;">
                    </a>
                    <p class="fs-5">{{album.name}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock %}
{% block content2 %}
<h2>BXH Bài hát</h2>
<table class="table table-striped">
    <thead>
    <th>#</th>
    <th>Tên</th>
    <th>Lượt theo dõi</th>
    </thead>
    <tbody>
    {% for track in tracks %}
        <tr>
        <td><a class="btn btn-success btn-play" href="{% url 'music:track' track.slug %}"><i class="fa fa-play"></i></a></td>
        <td>{{track.name}}</td>
        <td>{{track.streams}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content2 %}