{% extends "home/base.html" %}
{%block content %}

<div class="row ">
    <h1>Trang nghệ sĩ</h1>
    <form action="" method="get">
        {% csrf_token %}
        <div class="d-flex">
            <label class="p-2" for="keywordInput">Tìm kiếm</label>
            <div class="p-2">
                <input type="text" id="keywordInput" name="keywordInput" value="{{keywordInput}}"/>
            </div>
            <button type="submit" class="btn btn-primary p-2">Nhập</button>
        </div>
    </form>
    <div class="col-9">
        <div>

            <h2>Nghệ sĩ</h2>
            <div class="container-fluid">
                <div class="row ">
                    {% for artist in artists %}
                        <div class="col-3">
                            <div class="card-body text-center">
                                <a class="rounded " href="{% url 'music:artist_info' artist.slug %}">
                                    <img src="{{artist.image.url}}" alt="" style="width: 10rem;height: 10rem;" srcset="">
                                </a>
                                <div class="text-center fs-5">
                                    <a>{{artist.name}}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if artists.has_previous %}
                        <a href="?page={{ artists.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ artists.number }} / {{ artists.paginator.num_pages }}.
                    </span>
                    {% if artists.has_next %}
                        <a href="?page={{ artists.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

</div>

{% endblock %}